# Files specified here are not required for Docker
# Excluding them helps keep the build context lite
node_modules
docs
tests
dist
.git
.github

# The only things needed to build the Dockerfile are:
# Depens: package.json, yarn.lock
# Setup:  tsconfig.json, vite.config.mjs
# Client: index.html, src/, public/
# Server: services/, server.js
# Config: user-data/conf.yml
