html[data-theme='hacker-girl'] {
  --background: var(--black);
  --background-darker: var(--black);
  --primary: #e435f1;
  --outline-color: var(--primary);
  --curve-factor: 0px;
  --font-body: 'Cutive Mono', monospace;
  --font-headings: 'VT323', monospace;
}

