html[data-theme="oblivion"],
html[data-theme="oblivion-blue"],
html[data-theme="oblivion-mint"],
html[data-theme="oblivion-lemon"],
html[data-theme="oblivion-scotch"] {
  --primary: #f35151;
  --background: #1b2431;
  --background-darker: #121a25;
  --item-group-outer-background: none;
  --item-group-shadow: none;
  --item-group-background: none;
  --item-background: var(--background-darker);
  --item-background-hover: var(--background-darker);
  --item-shadow: 0 1px 5px #18191a;
  --item-hover-shadow: 2px 2px 3px #040505;
  --item-group-heading-text-color-hover: var(--primary);
  --nav-link-background-color: var(--background);
  --curve-factor: 3px;
  --curve-factor-navbar: 6px;
  --item-group-heading-text-color: var(--primary);
  --about-page-background: var(--background);
  --about-page-color: var(--primary);
  div.item-wrapper a.item, a.sub-item-link.item {
    border: 1px solid #313d4f;
  }
  section.filter-container form input#filter-tiles, .widget-base  {
    border: 1px solid #313d4f;
    box-shadow: 0 1px 5px #0c0d0e;
  }
  .widget-base {
    background: var(--item-background);
    box-shadow: var(--item-shadow);
    padding: 0.5rem;
    margin: 1rem 0;
  }
  .minimal-widget-wrap .widget-base { box-shadow:  none; border: none; }
  .minimal-home div.item-group-container, input.minimal-search {
    box-shadow: 0 1px 6px #00000099, 0 1px 1px #000000cc;
  }
}


html[data-theme="oblivion-blue"] {
  --primary: #82a5f3;
}
html[data-theme="oblivion-mint"] {
  --primary: #4acfd4;
}
html[data-theme="oblivion-lemon"] {
  --primary: #d0ed87;
}
html[data-theme="oblivion-scotch"] {
  --primary: #d69e3a;
}

