html[data-theme='tiger'] {
  --primary: #f58233;
  --background: #0b1021;
  --item-background: #1c2636;
  --item-group-background: var(--background);
  --nav-link-background-color: var(--background);
  --font-headings: 'Sniglet', cursive;
}

