
.button-link-wrapper:hover {
  text-decoration: none;
}

.button {
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  position: relative;
  transition: none;
  border: none;
  min-width: 12rem;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 0.75rem 1rem;
  margin: 0.5rem;
  color: var(--black);
  display: flex;
  @media (max-width: 966px) {
    width: 80%;
  }

  svg {
    width: 1.8rem;
    margin-right: 0.5rem;
  }

  &.btn-small {
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    min-width: auto;
    width: 100%;
    max-width: 12rem;
    svg {
      width: 1.2rem;
      margin-right: 0.35rem;
    }
  }

  &.color-btn:hover {
    color: #000000b3;
    top: 2px;
  }
  &.color-btn:active {
    color: #00000080;
    top: 4px;
    box-shadow: none !important;
  }

  &.color-btn.btn-pink {
    background: var(--accent-pink);
    box-shadow: 0 4px var(--accent-pink-dark);
    &:hover {
      box-shadow: 0 2px var(--accent-pink-dark);
    }
  }
  &.color-btn.btn-purple {
    background: var(--accent-purple);
    box-shadow: 0 4px var(--accent-purple-dark);
    &:hover {
      box-shadow: 0 2px var(--accent-purple-dark);
    }
  }
  &.color-btn.btn-blue {
    background: var(--accent-blue);
    box-shadow: 0 4px var(--accent-blue-dark);
    &:hover {
      box-shadow: 0 2px var(--accent-blue-dark);
    }
  }
  &.color-btn.btn-green {
    background: var(--accent-green);
    box-shadow: 0 4px var(--accent-green-dark);
    &:hover {
      box-shadow: 0 2px var(--accent-green-dark);
    }
  }
  &.color-btn.btn-yellow {
    background: var(--accent-yellow);
    box-shadow: 0 4px var(--accent-yellow-dark);
    &:hover {
      box-shadow: 0 2px var(--accent-yellow-dark);
    }
  }
}
