
.button {
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  position: relative;
  transition: none;
  border: none;
  min-width: 12rem;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 0.75rem 1rem;
  margin: 0.5rem;
  color: var(--black);

  &.color-btn:hover {
    color: #000000b3;
    top: 2px;
  }
  &.color-btn:active {
    color: #00000080;
    top: 4px;
    box-shadow: none !important;
  }

  &.color-btn.btn-pink {
    background: #db78fc;
    box-shadow: 0 4px #b83ddd;
    &:hover {
      box-shadow: 0 2px #b83ddd;
    }
  }
  &.color-btn.btn-purple {
    background: #9083ed;
    box-shadow: 0 4px #6b3cd6;
    &:hover {
      box-shadow: 0 2px #6b3cd6;
    }
  }
  &.color-btn.btn-blue {
    background: #5c85f7;
    box-shadow: 0 4px #3d48dd;
    &:hover {
      box-shadow: 0 2px #3d48dd;
    }
  }
  &.color-btn.btn-green {
    background: #41ef90;
    box-shadow: 0 4px #1e9554;
    &:hover {
      box-shadow: 0 2px #1e9554;
    }
  }
  &.color-btn.btn-yellow {
    background: #dcff5a;
    box-shadow: 0 4px #ceb73f;
    &:hover {
      box-shadow: 0 2px #ceb73f;
    }
  }
}
