@import '@/styles/media-queries.scss';

:root {
  /* Basic*/
  --primary: #5cabca; // Main accent color
  --background: #0b1021; // Page background
  --background-darker: #05070e; // Used for navigation bar, footer and fills

  /* Action Colors */
  --info: #04e4f4;
  --success: #20e253;
  --warning: #f6f000;
  --danger: #f80363;
  --neutral: #272f4d;
  --white: #fff;
  --black: #000;

  /* Modified Colors */
  --item-group-background: #0b1021cc;
  --medium-grey: #5e6474;
  --item-background: #607d8b33;
  --item-background-hover: #607d8b4d;

  /* Semi-Transparent Black*/
  --transparent-70: #000000b3;
  --transparent-50: #00000080;
  --transparent-30: #0000004d;

  /* Semi-Transparent White*/
  --transparent-white-70: #ffffffb3;
  --transparent-white-50: #ffffff80;
  --transparent-white-30: #ffffff4d;

  /* Color variables for specific components
  * all variables are optional, since they inherit initial values from above*
  * Using specific variables makes overriding for custom themes really easy */
  --heading-text-color: var(--primary);
  --nav-link-text-color: var(--primary);
  --nav-link-background-color: #607d8b33;
  --nav-link-text-color-hover: var(--primary);
  --nav-link-background-color-hover: #607d8b33;
  --nav-link-border-color: transparent;
  --nav-link-border-color-hover: var(--primary);
  --item-text-color: var(--primary);
  --item-group-outer-background: var(--primary);
  --item-group-heading-text-color: var(--item-group-background);
  --item-group-heading-text-color-hover: var(--background);
  --settings-background: var(--background);
  --settings-text-color: var(--primary);
  --search-container-background: var(--background-darker);
  --search-field-background: var(--background);
  --footer-text-color: var(--medium-grey);
  --footer-text-color-link:  var(--primary);
  --welcome-popup-background: var(--background-darker);
  --welcome-popup-text-color: var(--primary);
  --config-code-background: #fff;
  --config-code-color: var(--background);
  --config-settings-color: var(--primary);
  --config-settings-background: var(--background-darker);
  --toast-background: var(--primary);
  --toast-color: var(--background);
  --scroll-bar-color: var(--primary);
  --scroll-bar-background: var(--background-darker);
  --highlight-color: var(--background);
  --highlight-background: var(--primary);
  --loading-screen-color: var(--primary);
  --loading-screen-background: var(--background);
  --login-form-color: var(--primary);
  --login-form-background: var(--background);
  --login-form-background-secondary: var(--background-darker);
  --about-page-color: var(--white);
  --about-page-background: var(--background);
  --about-page-accent: var(--primary);
  --side-bar-background: var(--background-darker);
  --side-bar-background-lighter: var(--background);
  --side-bar-color: var(--primary);
  --status-check-tooltip-background: var(--background-darker);
  --status-check-tooltip-color: var(--primary);
  --code-editor-color: var(--black);
  --code-editor-background: var(--white);
}
