/* Global Color Palette */
:root {
  /* Greyscale */
  --bright-white: #ffffff;
  --white: #e5e5e5;
  --pale-grey: #e9e9e8;
  --mid-grey: #a9a9a9;
  --dark-grey: ##18191a;
  --black: #121212;
  --pitch-black: #000000;

  /* Action Colors */
  --info: #35c9fa;
  --success: #88ff88;
  --warning: #ece715;
  --danger: #f80363;
}

/* Themed Color Palette */

html { /* Light Theme */
  --primary: #54bff7;
  --background: var(--white);
  --text-color: var(--black);
  --hero-background: var(--bright-white);
  --kinda-transparent: #ffffffd9;
  --hyperlink: #ff62ce;
  --feature-img-shadow: 4px 4px 6px #a9a9a980, -2px -2px 4px rgb(0 0 0 / 40%);
  --footer-color: var(--white);
  --footer-text-color: var(--black);
}

html[data-theme='dark'] { /* Dark Theme */
  --primary: #202020;
  --background: var(--dark-grey);
  --text-color: var(--white);
  --hero-background: var(--black);
  --kinda-transparent: #000000d9;
  --hyperlink: #ff62ce;
  --feature-img-shadow: 4px 4px 6px #00000080, -2px -2px 4px rgb(0 0 0 / 40%);
  --footer-color: var(--black);
}

.footer {
  box-shadow: var(--feature-img-shadow);
  --ifm-footer-background-color: var(--footer-color);
  --ifm-footer-color: var(--footer-text-color);
  --ifm-footer-link-color: var(--footer-text-color);
  --ifm-footer-title-color: var(--footer-text-color);
  --ifm-footer-link-hover-color: var(--primary);
  --ifm-link-color: var(--footer-text-color);
  --ifm-link-hover-color: var(--primary);
  .footer__copyright, .footer__copyright a {
    font-size: 0.9rem;
    font-weight: bold;
    opacity: 0.9;
    font-family: 'Roboto Mono', monospace;
  }
}