
:root {
  /* Basic*/
  --background: #0b1021;
  --background-darker: #05070e;
  --primary: #5cabca;

  /* Modified Colors */
  --item-group-background: #0b1021cc;
  --medium-grey: #5e6474;

  /* Semi-Transparent Black*/
  --transparent-70: #000000b3;
  --transparent-50: #00000080;
  --transparent-30: #0000004d;

  /* Other Variables */
  --outline-color: none;
  --curve-factor: 5px;
  --curve-factor-navbar: 16px;
  --dimming-factor: 0.8;

  /* Settings for specific components */
  --item-group-padding: 5px;
  --item-shadow: 1px 1px 2px #130f23;
  --item-group-shadow: var(--item-shadow);
  --item-hover-shadow: 1px 2px 4px #373737;
  --item-icon-transform: drop-shadow(2px 4px 6px var(--transparent-50)) saturate(0.65);
  --item-icon-transform-hover: drop-shadow(4px 8px 3px var(--transparent-50)) saturate(2);

  --item-background: #607d8b33;
  --item-background-hover: #607d8b4d;
  --settings-text-color: var(--primary);
  --settings-background: var(--background);
  --search-container-background: var(--background-darker);
}
