

/* Core Pallet */
$background: #0b1021;
$ascent: #5cabca;

/* Action Colors */
$transparent-black: #0000008a;
$overflow-ellipse: #283e51;

/* Modified Colors */
$bg-with-opacity: rgba($background, 0.8);
$header-color: darken($background, 5%);
$dark-ascent: darken($ascent, 50%);
$ascent-with-opacity: rgba($ascent, 0.8);