/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: var(--background);
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
  --ifm-navbar-background-color: var(--hero-background);
  --ifm-navbar-link-color: var(--text-color);
}

.hero {
  --ifm-hero-background-color: var(--hero-background);
  --ifm-hero-text-color: var(--text-color);
}

.footer {
  box-shadow: var(--feature-img-shadow);
  --ifm-footer-background-color: var(--footer-color);
  --ifm-footer-color: var(--footer-text-color);
  --ifm-footer-link-color: var(--footer-text-color);
  --ifm-footer-title-color: var(--footer-text-color);
  --ifm-footer-link-hover-color: var(--primary);
  --ifm-link-color: var(--footer-text-color);
  --ifm-link-hover-color: var(--primary);
  .footer__link-item {
    font-size: 1rem;
  }
  .footer__copyright, .footer__copyright a {
    font-size: 0.9rem;
    font-weight: bold;
    opacity: 0.9;
    font-family: 'Roboto Mono', monospace;
  }
}


.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

nav.navbar {
  box-shadow: var(--feature-img-shadow);
  a.navbar__brand b {
    font-weight: bold;
    font-size: 1.5rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
}

p a, li a {
  color: var(--hyperlink);
  &:hover {
    color: var(--hyperlink);
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5 {
  cursor: default;
}

/* Markdown Docs content */
article div.markdown {
  --ifm-h1-font-size: 3.0rem;
  --ifm-h2-font-size: 2.5rem;
  --ifm-h3-font-size: 1.4rem;
  p, a, ol, ul, li, code span {
    font-size: 1rem;
  }
  h1 { font-size: var(--ifm-h1-font-size); }
  h2 { font-size: var(--ifm-h2-font-size); }
  h3 { font-size: var(--ifm-h3-font-size); }
  p img {
    border-radius: 4px;
    box-shadow: var(--feature-img-shadow);
  }
  table > tr > td > a > img {
    border-radius: 6px;
  }
}

/* Right-hand contents side-bar */
ul.table-of-contents li {
  a {
    font-size: 1rem;
    &:hover, &:hover code {
      color: var(--hyperlink);
    }
    &.table-of-contents__link--active, &.table-of-contents__link--active code {
      color: var(--hyperlink);
      font-weight: bold;
    }
  }
}

/* Left-hand page list side-bar */
ul.menu__list {
  margin-bottom: 1rem;
  li.menu__list-item {
    a {
      &.active {
        color: var(--hyperlink);
        font-weight: bold;
      }
    }
  }
}

/* Code Blocks */

code span {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9rem !important;
}


html[data-theme='light'] {
  main div.container.padding-top--md.padding-bottom--lg{
    padding: 0 1rem !important;
    div > div.col.docItemCol_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocItem-styles-module {
      padding: 1rem;
      background: var(--bright-white);
      border-right: 1px solid var(--ifm-toc-border-color);
      ul li a {
        font-weight: bold;
      }
    }
    .table-of-contents__left-border {
      border-left: none;
    }
    .pagination-nav__label {
      color: var(--black);
    }
  }
}
