html {
  &[data-theme='dark'] {
    --heading-shadow: -5px 4px 0px #000000;
    --sub-heading-shadow: -3px 3px 1px #000000;
  }
  &[data-theme='light'] {
    --heading-shadow: -2px 3px 2px #a2a1a1;
    --sub-heading-shadow: -1px 1px 1px #a2a1a1;
  }
}

header.heroBanner {
  padding: 4rem 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: var(--hero-background);
  min-height: calc(100vh - 4rem);
  h1.heroTitle {
    font-size: 8rem;
    font-family: 'Racing Sans One', mono;
    text-shadow: var(--heading-shadow);
    @media (max-width: 966px) {
      font-size: 6rem;
    }
  }
  h3.heroSubTitle {
    text-shadow: var(--sub-heading-shadow);
    @media (max-width: 966px) {
      font-size: 1.5rem;
    }
  }
  img.starButton {
    position: absolute;
    width: 12rem;
    top: 1rem;
    right: 1rem;
    opacity: 0.85;
    &:hover {
      opacity: 1;
    }
  }
  @media screen and (max-width: 966px) {
    padding: 2rem;
  }
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
  @media screen and (max-width: 966px) {
    flex-direction: column;
  }
}
.dashyDescription {
  max-width: 680px;
  margin: 1rem auto;
  text-align: left;
  font-size: 1.2rem;
}

.keepReading {
  font-size: 1.2rem;
  margin-left: 0.5rem;
  cursor: pointer;
  text-decoration: underline;
}

.scrollDown {
  display: flex;
  width: fit-content;
  cursor: pointer;
  margin: 2rem auto;
  position: absolute;
  bottom: 0;
  left: 42%;
  @media (max-width: 966px) {
   display: none;
  }
}

.scrollDownText {
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
}

.scrollDownIcon {
  width: 2rem;
  path { fill:  var(--text-color); }
}

.sponsor {
  margin: 1rem auto;
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5rem;
  background: var(--background);
  padding: 0.5rem;
  border-radius: 6px;
  color: var(--text-color);
  img {
    border-radius: 6px;
  }
  span {
    font-size: 1rem;
    text-align: center;
    a {
      font-size: 1rem;
      color: var(--text-color);
    }
  }
}
