html {
  &[data-theme='dark'] {
    --heading-shadow: -5px 4px 0px #000000;
    --sub-heading-shadow: -3px 3px 1px #000000;
  }
  &[data-theme='light'] {
    --heading-shadow: -2px 3px 2px #a2a1a1;
    --sub-heading-shadow: -1px 1px 1px #a2a1a1;
  }
}

header.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: var(--hero-background);
  h1.heroTitle {
    font-size: 6rem;
    font-family: 'Racing Sans One', cursive;
    text-shadow: var(--heading-shadow);
  }
  h3.heroSubTitle {
    text-shadow: var(--sub-heading-shadow);
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 966px) {
    flex-direction: column;
  }
}