.color-pink { --feature-color: #db78fc; }
.color-blue { --feature-color: #5c85f7; }
.color-green { --feature-color: #41ef90; }
.color-yellow { --feature-color: #dcff5a; }
.color-white { --feature-color: white; }
html[data-theme='light'] { /* Dark Theme */
  .color-pink { --feature-color: #b83ddd; }
  .color-blue { --feature-color: #6b3cd6; }
  .color-green { --feature-color: #1e9554; }
  .color-yellow { --feature-color: #ceb73f; }
  .color-white { --feature-color: #000; }
}
.home-page-features-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  .feature {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin: 0;
    &.align-left {
      flex-direction: row;
      background: var(--background);
      box-shadow: 0 1px 4px #000000;
    }
    &.align-right {
      flex-direction: row-reverse;
      background: var(--hero-background);
      box-shadow: 0 -1px 4px #000000b3;
    }
    .feature-half {
      width: 40%;
      padding: 0.25rem;
      margin: 1rem;
      &.assets {
        background: var(--feature-color);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.5rem;
        height: fit-content;
        border-radius: 8px;
        box-shadow: var(--feature-img-shadow);
        img.demo, span.not-demo {
          background: var(--kinda-transparent);
          width: 100%;
          max-height: 36rem;
          min-height: 12rem;
          height: 100%;
          object-fit: contain;
          border-radius: 8px;
          box-shadow: var(--feature-img-shadow);
        }
        span.not-demo {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .feature-title {
      display: flex;
      align-items: flex-end;
      margin: 1rem 0;
      color: var(--feature-color);
      svg {
        margin-right: 0.5rem;
        width: 2rem;        
      }
      h3 {
        margin: 0;
      }
    }
    div.read-the-docs {
      float: right;
      a.button-link-wrapper {
        margin: 0 1rem 1rem;
      }
      small {
        opacity: 0.75;
        margin: 0 0.5rem;
      }
    }
  }
}