@import '@/styles/media-queries.scss';

/* Fancy scrollbar */
.scroll-bar {
  &::-webkit-scrollbar {
      width: var(--scroll-bar-width);
      height: var(--scroll-bar-width);
  }
  &::-webkit-scrollbar-track {
      border-radius: var(--curve-factor);
      background-color: var(--scroll-bar-background);
  }
  &::-webkit-scrollbar-thumb {
      background: var(--scroll-bar-color);
      border-radius: var(--curve-factor);
  }
}

.svg-button {
    color: var(--primary);
    svg {
        path {
            fill: var(--settings-text-color);
        }
        width: 1rem;
        height: 1rem;
        margin: 0.2rem;
        padding: 0.2rem;
        text-align: center;
        background: var(--background);
        border: 1px solid currentColor;
        border-radius: var(--curve-factor);
        cursor: pointer;
        &:hover, &.selected {
            background: var(--settings-text-color);
            path { fill: var(--background); }
        }
        &.disabled {
            opacity: var(--dimming-factor);
            cursor: not-allowed;
            &:hover {
                border: 1px solid currentColor;
                background: var(--background);
                path { fill: var(--settings-text-color); }
            }
        }
    }
}

/* Custom highlight color */
.highlight {
    ::selection {
        background-color: var(--highlight-background);
        color: var(--highlight-color);
    }
    ::-moz-selection, ::-o-selection, ::-ms-selection, ::-webkit-selection {
        background-color: var(--highlight-background);
        color: var(--highlight-color);
  }
}

/* Form elements in the auto-schema form */
.schema-form {
  fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    > div {
      border-bottom: 1px dashed var(--primary);
      margin: 0.5rem 0;
      label {
        font-size: 1rem;
        text-decoration: underline;
      }
    }
    div[data-fs-wrapper] {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 0.5rem 0;
      @include tablet-down {
        flex-direction: column-reverse;
      }
      span {
        font-style: italic;
        margin-right: 0.5rem;
      }
      input {
        min-width: 15rem;
        padding: 0.5rem 0.75rem;
        margin: 0.5rem auto;
        font-size: 1rem;
        box-sizing: border-box;
        color: var(--primary);
        background: var(--background);;
        border: 1px solid var(--primary);
        border-radius: var(--curve-factor);
        &:focus {
          box-shadow: 1px 1px 6px var(--config-settings-color);
          outline: none;
        }
      }
    }
  }
}

/* Single-style helpers */
.bold { font-weight: bold; }
.light { font-weight: lighter; }
.text-left { text-align: left;}
.text-right { text-align: right;}
.text-center { text-align: center;}
.horizontal-center { margin: 0 auto; }
.border-box { box-sizing: border-box; }

