@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Raleway:wght@200&family=Roboto+Mono:wght@500&display=swap');

h1 {
  font-size: 4rem;
  font-family: 'Racing Sans One', mono;
}
h2 {
  font-size: 3rem;
  font-family: 'Roboto Mono', monospace;
}
h3 {
  font-size: 2rem;
  font-family: 'Roboto Mono', monospace;
}

h4, h5, button {
  font-size: 1.2rem;
  font-family: 'Roboto Mono', monospace;
}

body, section, p, span, a, div, ul li {
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
}