
/* Fonts used by the default theme, and bundled within the app */
@font-face {
  font-family: 'Inconsolata';
  src: url('./assets/fonts/Inconsolata-Light.ttf');
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/Raleway-Variable.ttf');
}

@font-face {
  font-family: 'PTMono';
  src: url('./assets/fonts/PTMono-Regular.ttf');
}

html {
  --font-body: 'Raleway', 'Trebuchet MS', sans-serif;
  --font-headings: 'Inconsolata', 'Georgia', sans-serif;
  --font-monospace: 'PTMono', 'Courier New', monospace;

  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
	background: transparent;
  vertical-align: baseline;

  /* Default app font face */
  body, div, p, a, span, label, input, button, .text {
    font-family: var(--font-body);
  }

  /* Headings font face */
  h1, h2, h3, h4, h5, .heading {
    font-family:  var(--font-headings);
  }

  /* Monospace, for code and raw data output */
  code, pre, pre *, .jsoneditor *, .mono * {
    font-weight: normal;
  }
}
