
/* Fonts used by the default theme, and bundled within the app */
@font-face {
  font-family: 'Inconsolata';
  src: url('./assets/fonts/Inconsolata-Light.ttf');
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/Raleway-Variable.ttf');
}

@font-face {
  font-family: 'PTMono';
  src: url('./assets/fonts/PTMono-Regular.ttf');
}

html {
  --font-body: 'Raleway', 'Trebuchet MS', sans-serif;
  --font-headings: 'Inconsolata', 'Georgia', sans-serif;
  --font-monospace: 'PTMono', 'Courier New', monospace;

  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
	background: transparent;
  vertical-align: baseline;

  /* Default app font face */
  body, div, p, a, span, label, input, button, .text {
    font-family: var(--font-body);
  }

  /* Headings font face */
  h1, h2, h3, h4, h5, .heading {
    font-family:  var(--font-headings);
  }

  /* Monospace, for code and raw data output */
  code, pre, pre *, .jsoneditor *, .mono * {
    font-weight: normal;
  }
}
/* Optional fonts for specific themes */
/* These fonts are loaded from ./public so not bundled within dist */
@font-face { // Used by body text in Matrix and Hacker themes. Credit to the late Vernon Adams, RIP
  font-family: 'Cutive Mono';
  src: url('/fonts/CutiveMono-Regular.ttf');
}
@font-face { // Heading text in Material and Material Dark. Credit to Vernon Adams
  font-family: 'Francois One';
  src: url('/fonts/FrancoisOne-Regular.ttf');
}
@font-face { // Heading text in Colorful theme. Credit to Cyreal
  font-family: 'Podkova';
  src: url('/fonts/Podkova-Medium.ttf');
}
@font-face { // Standard body text in material original. Credit to Christian Robertson
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Light.ttf');
}
@font-face { // Heading text in Jam, Bee and Tiger themes. Credit to Haley Fiege
  font-family: 'Sniglet';
  src: url('/fonts/Sniglet-Regular.ttf');
}
@font-face { // Used by heading text in Matrix and Hacker themes. Credit to Peter Hull
  font-family: 'VT323';
  src: url('/fonts/VT323-Regular.ttf');
}
@font-face { // Used by cyberpunk theme. Credit to Astigmatic
  font-family: 'Audiowide';
  src: url('/fonts/Audiowide-Regular.ttf');
}
@font-face { // Used by Dracula, Lissy themes. Credit to Jonny Pinhorn
  font-family: 'Shrikhand';
  src: url('/fonts/Shrikhand-Regular.ttf');
}
