@import url('https://fonts.googleapis.com/css?family=Comfortaa|Righteous&display=swap');


html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #282a32;
    font-family: 'Comfortaa', cursive;
}

h1, h2, h3, h4, h5 {
    font-family: 'Righteous', cursive;
}

p, a, span, div {
    font-family: 'Comfortaa', cursive;
}